<% var i;
for(i = 0;i < divers.length;i++) {
    var fullName = divers[i].firstName + ' ' + divers[i].lastName;
    var userpicSrc;
    if (divers[i].photo == null) {
        userpicSrc = '/i/no_img.png';
    } else {
        userpicSrc = 'data:image/png;base64,' + divers[i].photo;
    }
    var starCnt = 0;
    if (divers[i].diverLevel == 'ONE_STAR') {
        starCnt = 1;
    } else if (divers[i].diverLevel == 'TWO_STAR') {
        starCnt = 2;
    } else if (divers[i].diverLevel == 'THREE_STAR') {
        starCnt = 3;
    }
    var cardNumber;
    if (divers[i].primaryPersonalCard == null) {
        cardNumber = null;
    } else {
        cardNumber = divers[i].primaryPersonalCard.number;
    }
%>
<div class="panel">
    <div class="clearfix">
        <div class="diverList-elem-left">
            <img class="userpic" src="<%=userpicSrc %>"/>
        </div>
        <div class="diverList-elem-right">
            <p><span class="panel-text"><%=fullName %></span></p>
            <p><span class="panel-text"><%=divers[i].diverType %></span></p>
            <% var j;
            for(j = 0;j < starCnt;j++) {
            %>
            <img class="star" src="/i/star.png"/>
            <% } %>
            <% if(cardNumber == null){
            %>
            <p><span class="panel-text">Not registered at CMAS Data</span></p>
            <% } else { %>
            <p><span class="panel-text"><%=cardNumber %></span></p>
            <% } %>
        </div>
    </div>
    <% if(cardNumber != null){
    %>
    <div class="button-container">
        <button class="userInfo-button enter-button" id="<%=divers[i].id %>_addFriend">
            <%=labels["cmas.face.findDiver.add"] %>
        </button>
        <div style="display: none" class="panel-text" id="<%=divers[i].id %>_addFriendNotification"></div>
    </div>
    <% } %>
</div>
<% } %>
