<%
var fullName = diver.firstName + ' ' + diver.lastName;
var userpicSrc;
if (diver.photo == null) {
    userpicSrc = '/i/no_img.png?v=' + webVersion;
} else {
    userpicSrc = 'data:image/png;base64,' + diver.photo;
}
var starCnt = 0;
if (diver.diverLevel == 'ONE_STAR') {
    starCnt = 1;
} else if (diver.diverLevel == 'TWO_STAR') {
    starCnt = 2;
} else if (diver.diverLevel == 'THREE_STAR') {
    starCnt = 3;
} else if (diver.diverLevel == 'FOUR_STAR') {
    starCnt = 4;
}
var cardNumber;
if (diver.primaryPersonalCard == null) {
    cardNumber = null;
} else {
    cardNumber = diver.primaryPersonalCard.number;
}
%>
<div class="clearfix">
    <div class="diverList-elem-left">
        <img class="userpic" src="<%= userpicSrc %>"/>
    </div>
    <div class="diverList-elem-right">
        <p><span><%= fullName %></span></p>
        <p><span><%= diver.diverType %></span></p>
        <% var j;
        for(j = 0;j < starCnt;j++) {
        %>
        <img class="star" src="/i/star.png?v=<%= webVersion %>"/>
        <% } %>
        <% if(cardNumber == null){
        %>
        <p><%= labels["cmas.face.friendList.notRegistered"] %></p>
        <% } else { %>
        <p><span><%= cardNumber %></span></p>
        <% } %>
    </div>
</div>
