<% var i = 0;
for(i = 0;i < friends.length;i++) {
    var fullName = friends[i].firstName + ' ' + friends[i].lastName;
%>
<div class="panel-row clearfix">
    <div class="friendListElemLeft">
        <img id="<%=friends[i].id %>_removeFriend" src="/i/close_white.png"/>
    </div>
    <div class="friendListElemRight">
        <% if(friends[i].diverType == 'INSTRUCTOR') { %>
        <a class="friendListElem-href" href="#" id="<%=friends[i].id %>_showFriendDiver"><%=fullName %> <b>(<%=labels["cmas.face.diver.instructor"] %>)</b></a>
        <% } else { %>
        <a class="friendListElem-href" href="#" id="<%=friends[i].id %>_showFriendDiver"><%=fullName %></a>
        <% } %>
    </div>
</div>

<% } %>
