<% var i;
for(i = 0; i < requests.length;i++) {
    var request = requests[i];
    var diver = request.to;
    var fullName = diver.firstName + ' ' + diver.lastName;
    var userpicSrc;
    if (diver.userpicUrl == null) {
        userpicSrc = '/i/no-userpic-ico.png?v=' + webVersion;
    } else {
        userpicSrc = imagesData.userpicRoot + diver.userpicUrl;
    }
    var starCnt = 0;
    if (diver.diverLevel == 'ONE_STAR') {
        starCnt = 1;
    } else if (diver.diverLevel == 'TWO_STAR') {
        starCnt = 2;
    } else if (diver.diverLevel == 'THREE_STAR') {
        starCnt = 3;
    } else if (diver.diverLevel == 'FOUR_STAR') {
        starCnt = 4;
    }
    // var dob = diver.dob;
    var isApnea = false;
    var k;
    for (k = 0; k < diver.cards.length; k++) {
        if (diver.cards[k].cardType == 'APNOEA') {
            isApnea = true;
        }
    }
%>

<div id="<%= request.id %>_requestFrom" class="friendList-elem clearfix">
    <div id="<%= request.id %>_removeFromRequest"
         class="friendList-floating-elem-right friendList-floating-elem-vertical-middle button-delete"
         style="display: none"></div>
    <div class="friendList-elem-left">
        <% if(diver.userpicUrl == null){
        %>
            <div class="friendList-no-userpic friendList-userpic-margin">
                <img src="/i/no-userpic-ico.png?v=<%= webVersion %>"/>
            </div>
        <% } else { %>
            <div class="userpic-ico friendList-userpic friendList-userpic-margin">
                <div class="rounded friendList-userpic"
                     style='background : url("<%= userpicSrc %>") center no-repeat; background-size: cover'>
                </div>
            </div>
        <% } %>
    </div>
    <div class="friendList-elem-left">
        <div><span id="<%= diver.id %>_showRequestFromDiver"
                   class="basic-text friendList-text"><b><%= fullName %></b></span>
        </div>
        <div>
            <% var j;
            for(j = 0;j < starCnt;j++) {
            %>
                <img class="friendList-star" src="/i/star.png?v=<%= webVersion %>"/>
            <% } %>
            <% if(isApnea){
            %>
                <span class="secondary-large-text friendList-text convert-with-labels"><%= labels["cmas.face.logbook.apnea"] %></span>
                &nbsp;
            <% } %>
            <% if(diver.diverType == 'INSTRUCTOR'){
            %>
                <span class="secondary-large-text friendList-text convert-with-labels"><%= labels[diver.diverType] %></span>
                &nbsp;
            <% } %>
            <span class="secondary-large-text friendList-text"><%= labels[diver.diverRegistrationStatus] %></span>
        </div>
<!--        <div class="friendList-elem-left">-->
<!--            <img class="friendList-ico" src="/i/ic_calendar.png?v=<%= /* webVersion */ %>"/>-->
<!--            <span class="secondary-large-text friendList-text"><%= /* dob */ %></span>-->
<!--        </div>-->
        <div class="friendList-elem-right">
            <span class="secondary-large-text friendList-text"><%= diver.country.name %></span>
        </div>
    </div>
</div>
<% } %>

