<% var i = 0;
for(i = 0;i < requests.length;i++) {
    var fullName = requests[i].to.firstName + ' ' + requests[i].to.lastName;
%>
<div class="panel-row clearfix">
    <div class="friendListElemLeft">
        <img id="<%=requests[i].id %>_removeFromRequest" src="/i/close_white.png"/>
    </div>
    <div class="friendListElemRight">
        <% if( requests[i].to.diverType == 'INSTRUCTOR') { %>
        <a class="friendListElem-href" href="#" id="<%=requests[i].to.id %>_showToDiver"><%=fullName %> <b>(<%=labels["cmas.face.diver.instructor"] %>)</b></a>
        <% } else { %>
        <a class="friendListElem-href" href="#" id="<%=requests[i].to.id %>_showToDiver"><%=fullName %></a>
        <% } %>
    </div>
</div>
<% } %>
