<% var records = recordsInfo.records;
var i;
for(i = 0; i < records.length;i++) {
    var diver = records[i].diver;
    var fullName = diver.firstName + ' ' + diver.lastName;
    var userpicSrc;
    if (diver.userpicUrl == null) {
        userpicSrc = '/i/no-userpic-ico.png?v=' + webVersion;
    } else {
        userpicSrc = imagesData.userpicRoot + diver.userpicUrl;
    }
    var starCnt = 0;
    if (diver.diverLevel == 'ONE_STAR') {
        starCnt = 1;
    } else if (diver.diverLevel == 'TWO_STAR') {
        starCnt = 2;
    } else if (diver.diverLevel == 'THREE_STAR') {
        starCnt = 3;
    } else if (diver.diverLevel == 'FOUR_STAR') {
        starCnt = 4;
    }
    var dob = diver.dob.split(',')[0];

    var diveSpot;
    if (records[i].diveSpot) {
        diveSpot = records[i].diveSpot.name;
        if (records[i].diveSpot.country) {
            diveSpot += ", " + records[i].diveSpot.country.name;
        }
    }
    else {
        diveSpot = records[i].name;
    }
    var note = records[i].note;
    var visibleNote;
    var invisibleNote;
    if (note.length > 90) {
        visibleNote = note.substring(0, 90);
        invisibleNote = note.substring(90, note.length);
    }
    else {
        visibleNote = note;
        invisibleNote = null;
    }
%>
<div class="panel" id="<%= recordsInfo.containerId %>logbookRecord_<%= records[i].id %>">
    <div id="<%= diver.id %>_foundFriend" class="foundFriendList-elem clearfix">
        <div class="foundFriendList-elem-left">
            <% if(diver.userpicUrl == null){
            %>
            <div class="no-userpic-ico foundFriendList-no-userpic">
                <img src="/i/no-userpic-ico.png?v=<%= webVersion %>"/>
            </div>
            <% } else { %>
            <div class="userpic-ico foundFriendList-userpic">
                <div class="rounded foundFriendList-userpic"
                     style='background : url("<%= userpicSrc %>") center no-repeat; background-size: cover'>
                </div>
            </div>
            <% } %>
        </div>
        <div class="foundFriendList-elem-left">
            <div><span class="basic-text foundFriendList-text"><b><%= fullName %></b></span></div>
            <div>
                <% var j;
                for(j = 0;j < starCnt;j++) {
                %>
                <img class="foundFriendList-star" src="/i/star.png?v=<%= webVersion %>"/>
                <% } %>
                <span class="secondary-large-text foundFriendList-text"><%= labels[diver.diverRegistrationStatus] %></span>
            </div>
            <div class="foundFriendList-elem-left">
                <img class="foundFriendList-ico" src="/i/ic_calendar.png?v=<%= webVersion %>"/>
                <span class="secondary-large-text foundFriendList-text"><%= dob %></span>
            </div>
            <div class="foundFriendList-elem-right">
                <span class="secondary-large-text foundFriendList-text"><%= diver.country.name %></span>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="header3-text"><%= diveSpot %></div>
        <div class="feed-label"><%= records[i].diveDate %></div>
    </div>
    <div>
        <% if(records[i].photoUrl){
            var fullPhotoUrl = imagesData.logbookPicRoot + records[i].photoUrl;
        %>
        <img class="photoFeed" src="<%= fullPhotoUrl %>"/>
        <% } %>
    </div>
    <div class="clearfix">
        <div class="clearfix">
            <div class="feed-spec-label"><%= labels["cmas.face.feed.depth"] %>:</div>
            <div class="feed-spec-text basic-text"><%= records[i].diveSpec.maxDepthMeters %> <%= labels["cmas.face.feed.meters"] %></div>
        </div>
        <div class="clearfix">
            <div class="feed-spec-label"><%= labels["cmas.face.feed.duration"] %>:</div>
            <div class="feed-spec-text basic-text"><%= records[i].diveSpec.durationMinutes %> <%= labels["cmas.face.feed.minutes"] %></div>
        </div>
        <div>
            <% if(records[i].instructor){
                fullName = records[i].instructor.firstName + ' ' + records[i].instructor.lastName;
            %>
            <span class="panelFeed-label"><%= labels["cmas.face.diver.instructor"] %>:</span>
            <a class="panelFeed-href" href="#"
               id="<%= records[i].instructor.id %>_<%= recordsInfo.containerId %>_<%= records[i].id %>_showDiver"><%= fullName %></a>
            <br/>
            <% } %>
            <% if(records[i].buddies.length > 0){
            %>
            <span class="panelFeed-label"><%= labels["cmas.face.feed.buddies.label"] %>:</span>
            <% } %>
            <% var j = 0;
            for(j = 0;j < records[i].buddies.length;j++) {
                fullName = records[i].buddies[j].firstName + ' ' + records[i].buddies[j].lastName;
            %>
            <a class="panelFeed-href" href="#"
               id="<%= records[i].buddies[j].id %>_<%= recordsInfo.containerId %>_<%= records[i].id %>_showDiver"><%= fullName %></a>
            &nbsp;
            <% } %>
        </div>
    </div>

    <div>
        <a href="#" id="<%= recordsInfo.containerId %>SpecOpen_<%= records[i].id %>" class="link-in-text-flow">
            <%= labels["cmas.face.feed.spec"] %>
        </a>
    </div>
    <div id="<%= recordsInfo.containerId %>Spec_<%= records[i].id %>" style="display: none">
        <!-- full spec with tanks-->
        <a href="#" id="<%= recordsInfo.containerId %>SpecClose_<%= records[i].id %>" class="link-in-text-flow">
            <%= labels["cmas.face.feed.close"] %>
        </a>
    </div>
    <div>
        <span class="basic-text"><%= visibleNote %></span>
        <% if(invisibleNote){
        %>
        <a href="#" id="<%= recordsInfo.containerId %>more_<%= records[i].id %>" class="link-in-text-flow">
            <%= labels["cmas.face.feed.more"] %>
        </a>
        <% } %>
        <span id="<%= recordsInfo.containerId %>invisibleNote_<%= records[i].id %>" style="display: none">
            <span class="basic-text"><%= invisibleNote %></span><br/>
            <a href="#" id="<%= recordsInfo.containerId %>less_<%= records[i].id %>" class="link-in-text-flow">
                <%= labels["cmas.face.feed.less"] %>
            </a>
        </span>
    </div>
</div>
<% } %>
