<% var records = recordsInfo.records;
var i;
for(i = 0; i < records.length;i++) {
    var diver = records[i].diver;
    var fullName = diver.firstName + ' ' + diver.lastName;
    var userpicSrc;
    if (diver.photo == null) {
        userpicSrc = '/i/no_img.png';
    } else {
        userpicSrc = 'data:image/png;base64,' + diver.photo;
    }

    var diveSpot;
    if (records[i].diveSpot) {
        diveSpot = records[i].diveSpot.name;
        if (records[i].diveSpot.country) {
            diveSpot += ", " + records[i].diveSpot.country.name;
        }
    }
    else {
        diveSpot = records[i].name;
    }
    var note = records[i].note;
    var visibleNote;
    var invisibleNote;
    if (note.length > 90) {
        visibleNote = note.substring(0, 90);
        invisibleNote = note.substring(90, note.length);
    }
    else {
        visibleNote = note;
        invisibleNote = null;
    }
%>
<div class="logbookRecord" id="<%= recordsInfo.containerId %>logbookRecord_<%= records[i].id %>">
    <div class="clearfix">
        <div class="logbookFeed-elem-left">
            <img class="userpic userpicFeed" src="<%= userpicSrc %>"/>

            <div class="dialog-triangle"></div>
        </div>
        <div class="logbookFeed-elem-right">
            <p><span class="logbookFeed-elem-right-line panelFeed-text"><%= fullName %></span></p>

            <p><span class="text"><%= diveSpot %></span></p>

            <p><span class="panelFeed-label"><%= records[i].diveDate %></span></p>
        </div>
    </div>

    <div class="panelFeed">
        <p>
            <span class="panelFeed-text"><%= visibleNote %></span>
            <% if(invisibleNote){
            %>
            <a href="#" id="<%= recordsInfo.containerId %>more_<%= records[i].id %>">
                <span class="panelFeed-href"><%= labels["cmas.face.feed.more"] %>&gt;</span>
            </a>
            <% } %>
            <span id="<%= recordsInfo.containerId %>invisibleNote_<%= records[i].id %>" style="display: none">
                <span class="panelFeed-text"><%= invisibleNote %></span><br/>
                <a href="#" id="<%= recordsInfo.containerId %>less_<%= records[i].id %>"><span
                            class="panelFeed-href"><&lt;<%= labels["cmas.face.feed.less"] %></span></a>
            </span>
        </p>
        <% if(records[i].photoBase64){
        %>
        <img class="photoFeed" src="data:image/png;base64,<%= records[i].photoBase64 %>"/>
        <% } %>
        <a href="#" id="<%= recordsInfo.containerId %>SpecOpen_<%= records[i].id %>">
            <span class="panelFeed-href"><%= labels["cmas.face.feed.spec"] %>&gt;</span>
        </a>
        <span id="<%= recordsInfo.containerId %>Spec_<%= records[i].id %>" style="display: none">
                <span class="panelFeed-label"><%= labels["cmas.face.feed.depth"] %>: </span>
                <span class="text"><%= records[i].diveSpec.maxDepthMeters %> <%= labels["cmas.face.feed.meters"] %></span><br/>
                <span class="panelFeed-label"><%= labels["cmas.face.feed.duration"] %>: </span>
                <span class="text"><%= records[i].diveSpec.durationMinutes %> <%= labels["cmas.face.feed.minutes"] %></span><br/>
            <% if(records[i].instructor){
                fullName = records[i].instructor.firstName + ' ' + records[i].instructor.lastName;
            %>
            <span class="panelFeed-label"><%= labels["cmas.face.diver.instructor"] %>:</span>
                <a class="panelFeed-href" href="#"
                   id="<%= records[i].instructor.id %>_<%= recordsInfo.containerId %>_<%= records[i].id %>_showDiver"><%= fullName %></a>
                <br/>
            <% } %>
            <% if(records[i].buddies.length > 0){
            %>
            <span class="panelFeed-label"><%= labels["cmas.face.feed.buddies.label"] %>:</span>
            <% } %>
            <% var j = 0;
            for(j = 0;j < records[i].buddies.length;j++) {
                fullName = records[i].buddies[j].firstName + ' ' + records[i].buddies[j].lastName;
            %>
            <a class="panelFeed-href" href="#"
               id="<%= records[i].buddies[j].id %>_<%= recordsInfo.containerId %>_<%= records[i].id %>_showDiver"><%= fullName %></a>
               &nbsp;
            <% } %>
            <br/>
                <a href="#" id="<%= recordsInfo.containerId %>SpecClose_<%= records[i].id %>"><span
                            class="panelFeed-href"><&lt;<%= labels["cmas.face.feed.close"] %></span></a>
            </span>
    </div>
</div>
<% } %>
