<%
for (var key in spotMap) {
if (spotMap.hasOwnProperty(key)) {
    var spot = spotMap[key].spot;
%>
<div class="menu-row clearfix">
    <div class="menuElemLeft" id="<%= spot.id %>_chooseSpot">
        <span><%= spot.name %></span>
    </div>
    <div class="menuElemRight">
        <% if(!spot.isApproved && isPaid){ %>
        <a href="#" id="<%= spot.id %>_deleteSpot">
            <%= labels['cmas.face.spots.delete'] %>
        </a>
        <a href="#" id="<%= spot.id %>_editSpot">
            <%= labels['cmas.face.spots.edit'] %>
        </a>
        <% } %>
        <img src="/i/arrow_left_gray.png?v=<%= webVersion %>" id="<%= spot.id %>_chooseSpotArrow"/>
    </div>
</div>
<% } %>
<% } %>
