<%
for (var key in spotMap) {
if (spotMap.hasOwnProperty(key)) {
    var spot = spotMap[key].spot;
%>
<div class="menu-row clearfix" id="<%= spot.id %>_chooseSpot">
    <div class="menuElemLeft">
        <%= spot.latinName %>
    </div>
    <div class="menuElemRight">
        <img src="/i/arrow_left_gray.png?v=<%= webVersion %>" id="<%= spot.id %>_chooseSpotArrow"/>
    </div>
    <div class="feed-button-container"
         id="<%= spot.id %>_spotButtons"
         style="display: none"
    >
        <% if(spot.editable){ %>
            <div id="<%= spot.id %>_editSpot" class="feed-button button-edit"></div>
            <div id="<%= spot.id %>_deleteSpot" class="feed-button button-delete"></div>

        <% } else { %>
            <button id="<%= spot.id %>_reportSpot" class="white-button-small feed-button">
                <%= labels["cmas.face.feedback.button.spot"] %>
            </button>
        <% } %>
    </div>
</div>
<% } %>
<% } %>
